@font-face {
    font-family: 'GamerTagFont';
    src: url('fonts/GamerTag.eot');
    src: url('fonts/GamerTag.eot?#iefix') format('embedded-opentype'),
         url('fonts/GamerTag.woff') format('woff'),
         url('fonts/GamerTag.ttf') format('truetype'),
         url('fonts/GamerTag.svg#GamerTag') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'GamerTag';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-Asset 1D:before{content:'\0044';}
.icon-Asset 2e:before{content:'\0065';}
.icon-Asset 5i:before{content:'\0069';}
.icon-Asset 6l:before{content:'\006c';}
.icon-Asset 3v:before{content:'\0076';}
.icon-Asset 7!:before{content:'\0021';}


/* Custom CSS */

* {
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway.ttf');
}

::-webkit-scrollbar {
    width: 0 !important;
}

.font {
    font-family: Raleway !important;
    color: #202020 !important;
    font-size: 2rem !important;
    text-shadow: #00000090 0px 0px 5px !important;
}

.skull {
    font-family: GamerTagFont !important;
    color: #202020 !important;
    font-size: 8rem !important;
    text-shadow: #00000088 0px 0px 10px !important;
}

.hero {
    background-image: linear-gradient(135deg, #3F0E00, #FF2A2A) !important;
}

a {
    color: #ff3e3e !important;
    text-shadow: #00000070 0px 0px 5px !important;
}

a:hover {
    text-decoration: underline !important;
}